@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Nunito+Sans:wght@800;900&display=swap');

body,
input,
select,
textarea {
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 300;
}
