{{ define "main" }}
    {{ partial "banner" site.Data.banner }}
    {{ partial "quickFactsCards" site.Data.quickFactsCards }}
    {{ partial "about" site.Data.about }}
    {{ partial "spotlight" site.Data.spotlight1 }}
    {{ partial "spotlight" site.Data.spotlight2 }}
    {{ partial "spotlight" site.Data.spotlight3 }}
    {{ partial "services" site.Data.services }}
    {{ partial "whatsincluded" site.Data.whatsincluded }}
    {{ partial "equiptproducts" site.Data.equiptproducts }}
    {{ partial "safety" site.Data.safety }}
    {{ partial "pricing" site.Data.pricing }}
    {{ partial "gallery" site.Data.gallery }}
    {{ partial "FAQ" site.Data.FAQ }}
    {{ partial "cancel" site.Data.cancel }}
    {{ partial "elements" }}
    {{ partial "footer" site.Data.footer }}
{{ end }}
